<h6>Enter patient name</h6>
<%= form_tag patients_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div>
  <button type="button" class="btn btn-default"><%= link_to 'Add Patient', new_patient_path %></button>
</div>

    <% @patients.each do |patient| %>
   <div class="patient">   
     <p><strong><%= patient.name %></strong></p>
     
   
     <p><strong>Options:</strong></p>

    <div class="meta">  
      <%= link_to 'Show', patient %>  |
      <span class="admin">
        <%= link_to 'Edit', edit_patient_path(patient) %> |
        <%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    </div>  
    
          
    <div>
      <%= link_to "View Appointments", patient_appointments_path(patient) %> |
      <%= link_to "New Appointment", new_patient_appointment_path(patient) %>
   </div>    
</div>
      <% end %>
  
