<h4>Patients</h4>
<%= form_tag patients_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div>
  <button type="button" class="btn btn-default"><%= link_to 'Add Patient', new_patient_path %></button>
</div>

    <% @patients.each do |patient| %>
   <p>   
   <h5><%= patient.name %></h5>
  
    <strong>Options:</strong>

    <div>  
     <button type="button" class="btn btn-default"><%= link_to 'Show', patient %></button>
     <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_patient_path(patient) %></button>
     <button type="button" class="btn btn-default"><%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %></button>
   </div>   
          <strong>Appointments:</strong>   
    <div>
    <button type="button" class="btn btn-default"><%= link_to "View ", patient_appointments_path(patient) %></button>
      <button type="button" class="btn btn-default"><%= link_to "New Appointment", new_patient_appointment_path(patient) %></button>
   </div>    
______________________________________________________________________________________
    <% end %>
  
