<h4>Patients</h4>

<table>
  <thead>
    <tr>
      <p>Name</p>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <h5><%= patient.name %></h5>
        <ul>
          <Strong>Options</strong>
          <li><%= link_to 'Show', patient %></li>
          <li><%= link_to 'Edit', edit_patient_path(patient) %></li>  
          <li><%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <Strong>Appointments</strong>
          <li><%= link_to "View ", patient_appointments_path(patient) %></li>
          <li><%= link_to "Schedule", new_patient_appointment_path(patient) %></li> 
        _______________________________________________________________________________________________
        </ul>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
